@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("moreCats.png");
    background-color: #964b0090;
    background-repeat: repeat-x;
    max-width: 1200px;
}
.container{
    width: 100%;
    max-width: 60rem;
}
.main{
    position: relative;
    top: 15em;
    left: .5em;
    width: 30rem;
    height: 35rem;
    background-color: #964b00;
    box-shadow: 5px 10px 1em 1px;
    border-radius:20px;
}
.moreCats{
    position: absolute;
    top: -17ch;
    left: 15ch;
    background-image: url("moreCats2.png");
    transform: rotate(90deg);
    background-repeat: no-repeat;
    width: 17rem;
    height: auto;
}
.cats{
    position: absolute;
    top: 23.2ch;
    left: 12.9ch;
    transform: rotate(-90deg);
    border-radius: 20px;
    width: 16.9rem;
}
h1{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
}

button{
    position: relative;
    top: 7em;
    background-color: #ffd70090;
    border-radius: 20px ;
    width: 10rem;
    padding: 10px;
    font-size: 50pt;
    margin-left: 45px;
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    z-index: 1;
}
.acpted{
    position: absolute;
    width: 15em;
    height: 15em;
    top: 5rem;
    left: 7rem;
}